@using Microsoft.AspNetCore.Identity

@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords"
        content="employee dashboard, asp.net, html, c#, css, bootstrap, employee leave, task manager" />
    <meta name="description"
        content="An employee dashboard with features such as: leave capabilities, roles, projects, tasks, and employee database" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css" />

    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CustomerRelationsManagement.Web.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/css/styles.min.css"/>
    <title>Employee Dashboard</title>
</head>

@if (!ViewContext.View.Path.Equals("/Areas/Identity/Pages/Account/Register.cshtml", StringComparison.OrdinalIgnoreCase) && !ViewContext.View.Path.Equals("/Areas/Identity/Pages/Account/Login.cshtml", StringComparison.OrdinalIgnoreCase))
{
    <body>
        <!--  Body Wrapper -->
        <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
             data-sidebar-position="fixed" data-header-position="fixed">
            <!-- Sidebar Start -->
            <aside class="left-sidebar">
                <!-- Sidebar scroll-->
                <div>
                    <div class="brand-logo d-flex align-items-center justify-content-between">
                        <a class="text-nowrap logo-img" asp-controller="Home" asp-action="Index">
                            <h1><span class="d-inline-block align-middle"><strong><i class="ti ti-chart-pie fs-11"></i> Odyssey</strong></span></h1>

                        </a>
                        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                            <i class="ti ti-x fs-8"></i>
                        </div>
                    </div>
                    <!-- Sidebar navigation-->
                    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                        <ul id="sidebarnav">
                            @if (!User.IsInRole(Roles.User) && !User.IsInRole(Roles.Administrator))
                            {
                                <li class="nav-small-cap">
                                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                                    <span class="hide-menu">AUTH</span>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link" asp-area="Identity" asp-page="/Account/Register" aria-expanded="false">
                                        <span>
                                            <i class="ti ti-user-plus"></i>
                                        </span>
                                        <span class="hide-menu">Register</span>
                                    </a>
                                </li>

                                <li class="sidebar-item">
                                    <a class="sidebar-link" asp-area="Identity" asp-page="/Account/Login" aria-expanded="false">
                                        <span>
                                            <i class="ti ti-login"></i>
                                        </span>
                                        <span class="hide-menu">Login</span>
                                    </a>
                                </li>
                            }

                            @if (User.IsInRole(Roles.User))
                            {
                                <li class="nav-small-cap">
                                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                                    <span class="hide-menu">Home</span>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link" aria-expanded="false" asp-controller="Home" asp-action="Dashboard">
                                        <span>
                                            <i class="ti ti-layout-dashboard"></i>
                                        </span>
                                        <span class="hide-menu">Dashboard</span>
                                    </a>
                                </li>
                                <li class="nav-small-cap">
                                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                                    <span class="hide-menu">EMPLOYEE TOOLS FOR USER</span>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link" asp-controller="LeaveRequests" asp-action="Create" aria-expanded="false">
                                        <span>
                                            <i class="ti ti-clock-edit"></i>
                                        </span>
                                        <span class="hide-menu">Request Time Off</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link" asp-controller="LeaveRequests" asp-action="MyLeave" aria-expanded="false">
                                        <span>
                                            <i class="ti ti-clock-hour-4"></i>
                                        </span>
                                        <span class="hide-menu">Leave Allocations</span>
                                    </a>
                                </li>
                            }

                            @if (User.IsInRole(Roles.Administrator))
                            {
                                <li class="nav-small-cap">
                                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                                    <span class="hide-menu">Home</span>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link" aria-expanded="false" asp-controller="Home" asp-action="Dashboard">
                                        <span>
                                            <i class="ti ti-layout-dashboard"></i>
                                        </span>
                                        <span class="hide-menu">Dashboard</span>
                                    </a>
                                </li>
                                <li class="nav-small-cap">
                                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                                    <span class="hide-menu">EMPLOYEE TOOLS</span>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link" asp-controller="LeaveRequests" asp-action="Create" aria-expanded="false">
                                        <span>
                                            <i class="ti ti-clock-edit"></i>
                                        </span>
                                        <span class="hide-menu">Request Time Off</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link" asp-controller="LeaveRequests" asp-action="MyLeave" aria-expanded="false">
                                        <span>
                                            <i class="ti ti-clock-hour-4"></i>
                                        </span>
                                        <span class="hide-menu">Leave Allocations</span>
                                    </a>
                                </li>
                                <li class="nav-small-cap">
                                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                                    <span class="hide-menu">ADMIN TOOLS<span>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link" asp-controller="Announcements" asp-action="Index" aria-expanded="false">
                                        <span>
                                            <i class="ti ti-speakerphone"></i>
                                        </span>
                                        <span class="hide-menu">Announcements</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link" asp-controller="Employees" asp-action="Index" aria-expanded="false">
                                        <span>
                                            <i class="ti ti-users"></i>
                                        </span>
                                        <span class="hide-menu">Employees</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link" asp-controller="LeaveRequests" asp-action="Index" aria-expanded="false">
                                        <span>
                                            <i class="ti ti-clock-edit"></i>
                                        </span>
                                        <span class="hide-menu">Leave Requests</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link" asp-controller="LeaveTypes" asp-action="Index" aria-expanded="false">
                                        <span>
                                            <i class="ti ti-vaccine"></i>
                                        </span>
                                        <span class="hide-menu">Leave Types</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link" asp-controller="Projects" asp-action="Index" aria-expanded="false">
                                        <span>
                                            <i class="ti ti-notebook"></i>
                                        </span>
                                        <span class="hide-menu">Projects</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link" asp-controller="Positions" asp-action="Index" aria-expanded="false">
                                        <span>
                                            <i class="ti ti-briefcase"></i>
                                        </span>
                                        <span class="hide-menu">Positions</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                    <!-- End Sidebar navigation -->
                </div>
                <!-- End Sidebar scroll-->
            </aside>
            <!--  Sidebar End -->
            <!--  Main wrapper -->
            <div class="body-wrapper">
                <!--  Header Start -->
                <header class="app-header">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <ul class="navbar-nav">
                            <li class="nav-item d-block d-xl-none">
                                <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                                    <i class="ti ti-menu-2"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            <img src="~/assets/user-1.png" alt="" width="35" height="35" class="rounded-circle">
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                            <div class="message-body">
                                                <div class="d-flex align-items-center gap-2 dropdown-item">
                                                    <i class="ti ti-hand-stop fs-6"></i>
                                                    <p class="mb-0 fs-3">Hello, @User.Identity?.Name</p>
                                                </div>
                                                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="d-flex align-items-center gap-2 dropdown-item">
                                                    <i class="ti ti-user fs-6"></i>
                                                    <p class="mb-0 fs-3">My Profile</p>
                                                </a>
                                                <form class="btn btn-outline-primary mx-3 mt-2 d-block" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                    <button type="submit" class="btn btn-unstyled">Logout</button>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </nav>
                </header>
                <!--  Header End -->
                <div class="container-fluid">
                    <div class="row">@RenderBody()</div>
                </div>
                
            </div>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <script src="~/js/sidebarmenu.js"></script>
        <script src="~/js/app.min.js"></script>
        <!-- <script src="~/js/apexcharts.min.js"></script> -->
        <script src="~/js/simplebar.js"></script>
        <!-- <script src="~/js/dashboard.js"></script> -->

        <script src="~/lib/sweetalert/sweetalert.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


        <!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
        <!-- <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->



        <script>
            $(function () {
                $('.table').DataTable();
                $(".datepicker").datepicker({
                    dateFormat: "yy-mm-dd"
                });
            });
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)

    </body>
}
else
{
    <body>
        <div class="row">@RenderBody()</div>

    
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <script src="~/js/sidebarmenu.js"></script>
        <script src="~/js/app.min.js"></script>
        <!-- <script src="~/js/apexcharts.min.js"></script> -->
        <script src="~/js/simplebar.js"></script>
        <!-- <script src="~/js/dashboard.js"></script> -->

        <script src="~/lib/sweetalert/sweetalert.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

        <script>
            $(function () {
                $('.table').DataTable();
                $(".datepicker").datepicker({
                    dateFormat: "yy-mm-dd"
                });
            });
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)

    </body>
    
}


</html>