@model IEnumerable<CustomerRelationsManagement.Common.Models.EmployeeListViewModel>

@{
    ViewData["Title"] = "Employees";
}

<h1><strong>Employees</strong></h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateJoined)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateJoined)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.Name)
            </td>
            <td>
                <a asp-action="ViewAllocations" class="btn btn-sm btn-primary mb-2" asp-route-id="@item.Id">View Allocations</a>
                <a asp-action="AssignPosition" class="btn btn-sm btn-secondary mb-2" asp-route-id="@item.Id">Assign Position</a>
                <a asp-action="AssignDepartment" class="btn btn-sm btn-dark" asp-route-id="@item.Id">Assign Department</a>
            </td>
        </tr>
}
    </tbody>
</table>
