@model CustomerRelationsManagement.Common.Models.EmployeeAllocationViewModel

@{
    ViewData["Title"] = "View Allocations";
}

<h1><strong>Leave Allocations for @Model.Firstname @Model.Lastname</strong></h1>

<div class="card">
  <ul class="list-group list-group-flush">
      <li class="list-group-item">
          <div class="row">
              <div class="col">Leave Name</div>
              <div class="col">Original Allocation</div>
              <div class="col">Current Allocation</div>
              <div class="col">Action</div>
          </div>
      </li>
        @foreach(var allocation in Model.LeaveAllocations)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col"><h6>@allocation.LeaveType.Name?</h6></div>
                    <div class="col">
                        <button type="button" class="btn btn-primary">
                            Allocated Days <span class="badge bg-secondary">@allocation.LeaveType.DefaultDays</span>
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary">
                            Remaining Days <span class="badge bg-secondary">@allocation.NumberOfDays</span>
                        </button>
                    </div>
                    <div class="col">
                        <a class="btn btn-dark" asp-action="EditAllocation" asp-route-id="@allocation.Id"><i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a> &nbsp;
</div>
