@model CustomerRelationsManagement.Web.Models.ProjectTaskViewModel

@{
    ViewData["Title"] = "Task Details";
}

<h1>Task Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.TaskPriority)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.TaskPriority)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Employee.Firstname)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>
        @if (Model.IsComplete)
        {
            <dd class="col-sm-7">Complete</dd>
        }
        else
        {
            <dd class="col-sm-7">In-Progress</dd>
        }
        @if(Model.DateDue != null)
        {
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.DateDue)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.DateDue)
            </dd>
        }
        
    </dl>
</div>
<div>
    <a asp-controller="Home" asp-action="ProjectDetails" asp-route-projectId="@Model?.ProjectId" class="btn btn-dark">Back to Project</a>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">Edit</a>
</div>
