@model CustomerRelationsManagement.Common.Models.ProjectTaskViewModel

@{
    ViewData["Title"] = "Task Details";
}

<h1><strong>Task Details</strong></h1>
<div>
        <div class="row">
            <div class="col-md-4">
                <h4>Name:</h4>
            </div>
            <div class="col-md-8">
                <h4>@Model.Name</h4>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-4">
                <h4>Description:</h4>
            </div>
            <div class="col-md-8">
                <h4>@Model.Description</h4>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-4">
                <h4>Status:</h4>
            </div>
            <div class="col-md-8">
                @if (Model.IsComplete)
                {
                    <span class="badge bg-success">Completed</span>
                }
                else
                {
                    <span class="badge bg-warning">In-progress</span>
                }
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-4">
                <h4>Task Priority:</h4>
            </div>
            <div class="col-md-8">
                @if (Model.TaskPriority == TaskPriority.Low)
                {
                    <span class="badge bg-info">@Model.TaskPriority</span>
                }
                else if (Model.TaskPriority == TaskPriority.Medium)
                {
                    <span class="badge bg-warning">@Model.TaskPriority</span>
                }
                else
                {
                    <span class="badge bg-danger">@Model.TaskPriority</span>
                }

            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-4">
                <h4>Due Date:</h4>
            </div>
            <div class="col-md-8">
                <h4>@Model.DateDue</h4>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-4">
                <h4>Author:</h4>
            </div>
            <div class="col-md-8">
                <h4>@Model.Employee.Firstname @Model.Employee.Lastname</h4>
            </div>
        </div>
</div>

<div>
    <br />
    <a asp-controller="Home" asp-action="ProjectDetails" asp-route-projectId="@Model?.ProjectId" class="btn btn-dark">Back</a>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Edit</a>
</div>