@model IEnumerable<CustomerRelationsManagement.Web.Models.DealViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Deals on Deals on Deals on Deals</h1>

<p>
    <a class="btn btn-success" asp-action="Create"><i class="fas fa-plus"></i> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Name)
            </td>
            <td>
                <a class="btn btn-warning text-white" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt"></i></a>
                <a class="btn btn-info text-white" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a>
                <button data-id="@item.Id" class="btn btn-danger deleteBtn" type="button"><i class="far fa-trash-alt"></i></button>
            </td>
        </tr>
}
    </tbody>
</table>

<form id="deleteFrom" asp-action="Delete">
    <input type="hidden" id="dealId" name="Id" />
</form>

<!-- name is used for serverside stuff like php or in this case c# or a class, id is used for javascript or jquery when
you want to target a element -->
@section Scripts {
    <script>
        $(function () {
            $('.table').DataTable();

            $('.deleteBtn').click(function (e) {
                swal({
                    title: "Are you sure?",
                    text: "Are you sure you want to delete this record?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true

                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#dealId').val(id);
                        $('#deleteFrom').submit();

                    }
                });
            }); //watching for a class called deleteBtn
        });
    </script>
}